<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SeleniumSuite">
    <test name="LoginTests">
        <classes>
            <class name="LogInElectorRole">
                <methods>
                    <!--<include name="fetchDetails"/>-->
                    <include name="enterDetails"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>